.grid-menu{
    @include grid-container;

    .main{
        grid-area: main;

        .title__products{
            font-size: 32px;
            text-align: center;
            font-weight: 900;
            margin-top: 20px;
        }
        
        .products-menu{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px 0 ;

            h3{
                font-size: 25px;
                font-weight: 700;
                margin: 10px 0;            
            }

            .products-menu__bakery{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 15px;

                .product__bakery{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .bakery__img{
                        width: 200px;
                        object-fit: cover;
                    }

                    .bakery__name{
                        font-weight: 500;
                    }

                    .bakery__price{
                        font-weight: 700;
                        color: $primaryColor;
                    }
                    
                }
                
            }

            .products-menu__coffee{
                width: 80%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 15px;

                .product__coffee{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .coffee__img{
                        width: 250px;
                    }

                    .coffee__name{
                        font-weight: 500;
                    }

                    .coffee__price{
                        font-weight: 700;
                        color: $primaryColor;
                    }
                    
                }
                
            }

            .products-menu__hot-drink{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 15px;

                .product__hot-drink{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .hot-drink__img{
                        width: 250px;
                    }

                    .hot-drink__name{
                        font-weight: 500;
                    }

                    .hot-drink__price{
                        font-weight: 700;
                        color: $primaryColor;
                    }
                    
                }
                
            }
            
            
        }
        
    }
}
